<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계산기</h1>
    <form action="">
        첫번째 수 = <input type="text" id="" name="first"><br/>
        두번째 수 = <input type="text" id="" name="second">
        <input type="submit" value="계산">
    <h2>덧셈 = {{c}}</h2>
    <h2>뺄셈 = {{d}}</h2>
    <h2>곱셈 = {{e}}</h2>
    <h2>나눗셈 = {{f}}</h2>
    <h2>몫 = {{g}}</h2>
    <h2>나머지 = {{h}}</h2>
    <h2>첫번째수 제곱 = {{i}}</h2>
    <h2>두번째수 제곱 = {{j}}</h2>
    </form>
    <h1><a href="/random">random</a></h1>
    <h1><a href="/random">random</a></h1>
</body>
</html>