{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>수정하기</h1>
    <form action="/freeboard/updateproc" method="post" id="myform" name="myform">
        <input type="hidden" name="idx" value="{{res[0]}}"/>
        제목
        <input class="form-control" type="text" name="title" id="" value="{{res[1]}}">
        내용
        <textarea name="content" class="form-control">{{res[2]}}</textarea>
        작성자
        <input class="form-control" type="text" name="writer" id="" value="{{res[3]}}">
        <fieldset>
          <legend>별점 평가</legend>
          <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
          <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
          <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
          <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
          <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
        </fieldset><br>
        <input class="btn btn-primary" type="submit" value="글수정">
    </form>
</div>
{% endblock %}