{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>후기 게시판</h1>

    <h2>제목</h2>
    <p>{{res[1]}}</p>
    <h2>내용</h2>
    <p>{{res[2]}}</p>
    <h2>작성자</h2>
    <p>{{res[3]}}</p>
    <h2>조회수</h2>
    <p>{{res[4]}}</p>
    <h2>작성일자</h2>
    <p>{{res[5]}}</p>
    <h2>별점</h2>
    <p>{{res[6]}}</p>
    <div style="position: relative;">
        <div style="position: absolute;">
        <a class="btn btn-primary" href="/freeboard/select">목록</a>
        </div>
        <div style="position: absolute; top: 0; right: 0;">
            <a class="btn btn-primary" href="/freeboard/updateform?idx={{res[0]}}">수정</a>
            <a class="btn btn-primary" href="/freeboard/delete?idx={{res[0]}}">삭제</a>
        <div>
    </div>    
</div>
{% endblock %}