<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Moon+Dance&display=swap');
        *{
            font-family: 'Moon Dance', cursive;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>link start</h1>
        <div class="row bg-primary p-4 m-1">
            <h1 class="text-white">가위바위보게임</h1>
            <div class="col mt-2">
                <a class="alert alert-info" href="game?game=가위">가위</a>
                <a class="alert alert-info" href="game?game=바위">바위</a>
                <a class="alert alert-info" href="game?game=보">보</a>
                <a class="alert alert-info" href="game?game=리셋">리셋</a>
            </div>
            <div class="col text-white">
                <h2>결과 {{win}}승 {{draw}}무 {{lose}}패</h2>
            </div>
        </div>
        <div class="row bg-info p-4 m-1">
            <div class="col">
                <h1>시분초출력</h1>
                <form action="time">
                    <input class="form-control w-50 m-3" type="text" name="time" id="">
                    <input class="btn btn-primary m-3 ms-5" type="submit" value="초입력">
                </form>
            </div>
            <div class="col text white">
                <h1>{{hour}}시 {{min}}분 {{sec}}초</h1>
            </div>
        </div>
        <div class="row bg-success p-4 m-1">
            <div class="col">
                <h1>구구단출력</h1>
                <form action="gugudan">
                    첫번째 수
                    <input class="form-control w-50 m-3" type="text" name="fi">
                    두번째 수
                    <input class="form-control w-50 m-3" type="text" name="se">
                    <input class="btn btn-primary m-3 ms-5" type="submit" value="구구단">
                </form>
            </div>
            <div class="col text-white">
                {{gugu|markdown}}
            </div>
        </div>
    </div>
</body>
</html>