{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>index.html</h1>
    </div>
</div>
<div class="row">
  <div class="col-10">
    <p>내용은 채울게 없어요 ㅋㅅㅋ</p>
      <iframe width="1000" height="500" src="https://www.youtube.com/embed/YpGjaJ1ettI" title="[작업용 BGM] 들으면 긍정적인 기분이 되는 기분 좋은 음악 - Morning Mood - Daily Routine" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}