{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>freeboard/insertform</h1>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <form action="/freeboard/insertproc">
                <label for="title">글제목</label>
                <input class="form-control w-75" type="text" name="title" id="title">
                <label for="content">글내용</label>
                <textarea class="form-control w-75" id="content" name="content"></textarea>
                <label for="writer">작성자</label>
                <input class="form-control w-75" type="text" name="writer" id="writer">
                <input class="btn btn-primary" type="submit" value="전송">
            </form>
        </div>
    </div>
</div>
{% endblock %}