{% extends 'base.html' %}

{% block style %}
<style>
    .div-relative{
        position: relative;
    }
    .btn-div{
        position: absolute;
        top: 3.5rem;
        right: 1rem;
    }
</style>
{% endblock %}

{% block script %}
<script defer>
    /*const $table = document.getElementsByTagName('table');*/
    /*const $tr = document.getElementsByTagName('tr')
    $tr.addEventListener('click',(e)=>{
        console.log(e.dataset.idx)
    })*/
    function selectfn(e){
        location.href='freeboard/view?idx='+e;
    }
    /*alert($tr.dataset.id)*/
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col div-relative">
            <h1>freeboard/select.html</h1>
            <h2>게시판목록</h2>
            <div class="btn-div">
                <a href="/freeboard/insertform" class="btn btn-primary">글쓰기</a>
            </div>
            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>작성일자</th>
                </tr>
                {% for row in res %}
                <!-- <tr onclick="location.href='/freeboard/view'"> -->
                <tr onclick="selectfn({{row[0]}})">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <!-- <td><a href="">{{row[1]}}</a></td> -->
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- 페이징 처리 시작
                그룹 함수 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    {% if pageNum == 1 %}
                    <a class="page-link disabled" href="/freeboard/select?pageNum={{pageNum-1}}">Previous</a>
                    {% else %}
                    <a class="page-link" href="/freeboard/select?pageNum={{pageNum-1}}">Previous</a>
                    {% endif %}
                  </li>
                  {% for i in range(1,pagecnt+1) %}
                  {% if pageNum == i %}
                  <li class="page-item">
                    <a class="page-link active" href="/freeboard/select?pageNum={{i}}">{{i}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="/freeboard/select?pageNum={{i}}">{{i}}</a>
                  </li>
                  {% endif %}
                    {% endfor %}
                  <li class="page-item"><a class="page-link" href="/freeboard/select?pageNum={{pageNum+1}}">Next</a></li>
                </ul>
              </nav>
              <!-- 페이징 처리 끝 -->
        </div>
    </div>
</div>
{% endblock %}