@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Moon+Dance&display=swap');
*{
    font-family: 'Moon Dance', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}