<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const $myBtn = document.getElementById('my-btn')
            const $length = document.getElementById('length')
            const $weight = document.getElementById('weight')
            const $myImg = document.getElementById('my-img')
            $myBtn.addEventListener('click',()=>{
                console.log($length.value)
                console.log($weight.value)

                const length = $length.value || 30
                const weight = $weight.value || 200

                $myImg.setAttribute('src',`/fig/int${length}_int${weight}`)

                fetch(`predict?length=${length}&weight=${weight}`)
                .then((res)=>{
                    return res.json()
                })
                .then((data)=>{
                    console.log(data.race)
                    const $p = document.querySelector('p')
                    //$p.textContent = data.race
                    $p.innerHTML = `<h1>${data.race}</h1>`
                })
            })
        })
    </script>
</head>
<body>
    <div>
        <h1>최근접이웃분류기</h1>
        <!-- <img src="/fig" alt="image" srcset=""> -->
        length <input type="text" name="" id="length">
        weight <input type="text" name="" id="weight">
        <button id="my-btn">버튼</button>
        <p></p>
    </div>
    <!-- <img src="{{url_for ('fig',length=25,weight=150)}}" alt="image" srcset=""> -->
    <img src="/fig/int20_int150" alt="image" srcset="" id="my-img">


</body>
</html>